

<ct-field
  theme="light"
  type="checkbox"
  title="Which services are you interested in?"
  title-display="visible"
  title-size="regular"
  
  
  name="services"
  
  id="field_services"
  
  
  
  required-text="(required)"
  orientation="vertical"
  
  
  
  
  
  
  
  
>
  <ct-field-option label="Waste collection" value="waste" id="field_services_waste"></ct-field-option><ct-field-option label="Libraries" value="libraries" id="field_services_libraries" checked></ct-field-option><ct-field-option label="Parks and recreation" value="parks" id="field_services_parks"></ct-field-option>
</ct-field>

