

<ct-field
  theme="light"
  type="radio"
  title="How did you hear about us?"
  title-display="visible"
  title-size="regular"
  
  
  name="referral_source"
  
  id="field_referral_source"
  
  
  is-required
  required-text="(required)"
  orientation="vertical"
  
  
  
  
  
  
  
  
>
  <ct-field-option label="Search engine" value="search" id="field_referral_search"></ct-field-option><ct-field-option label="Social media" value="social" id="field_referral_social" checked></ct-field-option><ct-field-option label="Word of mouth" value="word-of-mouth" id="field_referral_word"></ct-field-option>
</ct-field>

