

<ct-field
  theme="light"
  type="select"
  title="Preferred contact method"
  title-display="visible"
  title-size="regular"
  
  
  name="contact_method"
  
  id="field_contact_method"
  
  
  is-required
  required-text="(required)"
  orientation="vertical"
  
  
  
  
  
  
  
  
>
  <ct-select-option label="Email" value="email" selected></ct-select-option><ct-select-option label="Phone" value="phone"></ct-select-option><ct-select-option label="Post" value="post"></ct-select-option>
</ct-field>

