

<ct-tabs
  theme="dark"
  vertical-spacing="none"
>
    <ct-tabs-item heading="What is CivicTheme?" selected >
      <p>CivicTheme is an open source design system for local government websites.</p>
    </ct-tabs-item>
    <ct-tabs-item heading="Who maintains this component library?"  >
      <p>ct-design-infra ports CivicTheme into framework-agnostic, token-driven Web Components.</p>
    </ct-tabs-item>
    <ct-tabs-item heading="Can a tab be disabled?"  disabled>
      <p>Yes, individual tabs can be disabled and won&#x27;t respond to interaction.</p>
    </ct-tabs-item>
</ct-tabs>

