

<ct-tag-list
  theme="light"
  vertical-spacing="none"
>
  
    <ct-tag-list-item
      content="Default Theme"
      
      
      
      
      
      
      
    ></ct-tag-list-item>
    <ct-tag-list-item
      content="Dark Override"
      
      
      theme="dark"
      variant="secondary"
      
      
      
    ></ct-tag-list-item>
    <ct-tag-list-item
      content="Tertiary"
      
      
      
      variant="tertiary"
      
      
      
    ></ct-tag-list-item>
  
</ct-tag-list>

