

<ct-tag-list
  theme="light"
  vertical-spacing="none"
>
  <div slot="content-top"><strong>Filter by topic:</strong></div>
    <ct-tag-list-item
      content="Health"
      
      
      
      
      
      
      
    ></ct-tag-list-item>
    <ct-tag-list-item
      content="Education"
      
      
      
      
      
      
      
    ></ct-tag-list-item>
    <ct-tag-list-item
      content="Transport"
      url="https://example.com/transport"
      
      
      
      
      
      
    ></ct-tag-list-item>
  <div slot="content-bottom"><a href="#">Clear all filters</a></div>
</ct-tag-list>

