

<ct-tag-list
  theme="light"
  vertical-spacing="none"
>
  
    <ct-tag-list-item
      content="Popular"
      
      
      
      
      icon="bullet"
      icon-placement="before"
      
    ></ct-tag-list-item>
    <ct-tag-list-item
      content="Featured"
      
      
      
      variant="secondary"
      
      
      
    ></ct-tag-list-item>
    <ct-tag-list-item
      content="External"
      url="https://example.com"
      new-window
      
      
      
      
      external
    ></ct-tag-list-item>
  
</ct-tag-list>

