

<ct-video-player
  theme="light"
  frame-title="Example embedded video"
  
  
  
  
  
  vertical-spacing="none"
  
  embedded-source="https://www.youtube.com/embed/C0DPdy98e4c"
  
  transcript-text="View transcript"
  
  transcript-title="Open transcript in a new window"
  transcript-url="https://example.com/transcript"
  transcript-new-window
  
  transcript-content="&lt;p&gt;Reprehenderit sed irure dolor nisi ut consectetur exercitation aliquip commodo mollit velit est voluptate ut sint cillum est dolor ullamco reprehenderit in.&lt;/p&gt;"
  transcript-expand-text="Show transcript"
  transcript-collapse-text="Hide transcript"
></ct-video-player>

