

<ct-video-player
  theme="light"
  
  
  
  
  
  
  vertical-spacing="none"
  
  
  raw-source="&lt;iframe allowfullscreen&#x3D;&quot;&quot; frameborder&#x3D;&quot;0&quot; height&#x3D;&quot;400&quot; src&#x3D;&quot;https://www.youtube.com/embed/C0DPdy98e4c&quot; width&#x3D;&quot;550&quot; title&#x3D;&quot;Example raw embedded video&quot;&gt;&lt;/iframe&gt;"
  transcript-text="View transcript"
  
  transcript-title="Open transcript in a new window"
  
  transcript-new-window
  
  
  transcript-expand-text="Show transcript"
  transcript-collapse-text="Hide transcript"
></ct-video-player>

