

<ct-logo
  theme="light"
  type="inline-stacked"
  primary-mobile-url="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNjAiIGhlaWdodD0iNDAiPjxyZWN0IHdpZHRoPSIxNjAiIGhlaWdodD0iNDAiIHJ4PSI0IiBmaWxsPSIjMDAyYTM5Ii8+PHRleHQgeD0iMTIiIHk9IjI2IiBmaWxsPSIjZmRmZGZkIiBmb250LWZhbWlseT0ic2Fucy1zZXJpZiIgZm9udC1zaXplPSIxNiIgZm9udC13ZWlnaHQ9ImJvbGQiPkNpdmljVGhlbWU8L3RleHQ+PC9zdmc+"
  primary-mobile-alt="CivicTheme"
  primary-desktop-url="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNjAiIGhlaWdodD0iNDAiPjxyZWN0IHdpZHRoPSIxNjAiIGhlaWdodD0iNDAiIHJ4PSI0IiBmaWxsPSIjMDAyYTM5Ii8+PHRleHQgeD0iMTIiIHk9IjI2IiBmaWxsPSIjZmRmZGZkIiBmb250LWZhbWlseT0ic2Fucy1zZXJpZiIgZm9udC1zaXplPSIxNiIgZm9udC13ZWlnaHQ9ImJvbGQiPkNpdmljVGhlbWU8L3RleHQ+PC9zdmc+"
  primary-desktop-alt="CivicTheme"
  secondary-mobile-url="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMjAiIGhlaWdodD0iNDAiPjxyZWN0IHdpZHRoPSIxMjAiIGhlaWdodD0iNDAiIHJ4PSI0IiBmaWxsPSIjMDA2OThmIi8+PHRleHQgeD0iMTIiIHk9IjI2IiBmaWxsPSIjZmFmYmZiIiBmb250LWZhbWlseT0ic2Fucy1zZXJpZiIgZm9udC1zaXplPSIxNCIgZm9udC13ZWlnaHQ9ImJvbGQiPlBhcnRuZXI8L3RleHQ+PC9zdmc+"
  secondary-mobile-alt="Partner"
  secondary-desktop-url="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMjAiIGhlaWdodD0iNDAiPjxyZWN0IHdpZHRoPSIxMjAiIGhlaWdodD0iNDAiIHJ4PSI0IiBmaWxsPSIjMDA2OThmIi8+PHRleHQgeD0iMTIiIHk9IjI2IiBmaWxsPSIjZmFmYmZiIiBmb250LWZhbWlseT0ic2Fucy1zZXJpZiIgZm9udC1zaXplPSIxNCIgZm9udC13ZWlnaHQ9ImJvbGQiPlBhcnRuZXI8L3RleHQ+PC9zdmc+"
  secondary-desktop-alt="Partner"
  url="#"
  title="Click to go to the homepage"
  
></ct-logo>

