

<ct-icon
  name="account"
  
  
  style="font-size: 2rem;"
></ct-icon>
<div style="display: flex; flex-wrap: wrap; gap: 1rem; font-size: 2rem; margin-top: 1rem;">
    <ct-icon name="account"></ct-icon>
    <ct-icon name="approve"></ct-icon>
    <ct-icon name="bars"></ct-icon>
    <ct-icon name="calendar-1"></ct-icon>
    <ct-icon name="call"></ct-icon>
    <ct-icon name="cancel"></ct-icon>
    <ct-icon name="checked"></ct-icon>
    <ct-icon name="close"></ct-icon>
    <ct-icon name="document"></ct-icon>
    <ct-icon name="down-arrow-1"></ct-icon>
    <ct-icon name="download"></ct-icon>
    <ct-icon name="eye"></ct-icon>
    <ct-icon name="facebook"></ct-icon>
    <ct-icon name="help"></ct-icon>
    <ct-icon name="image"></ct-icon>
    <ct-icon name="information-mark"></ct-icon>
    <ct-icon name="linkedin"></ct-icon>
    <ct-icon name="lock-file"></ct-icon>
    <ct-icon name="magnifier"></ct-icon>
    <ct-icon name="map"></ct-icon>
    <ct-icon name="megaphone"></ct-icon>
    <ct-icon name="mobile"></ct-icon>
    <ct-icon name="open-source"></ct-icon>
    <ct-icon name="pdf-file"></ct-icon>
    <ct-icon name="right-arrow-1"></ct-icon>
    <ct-icon name="share"></ct-icon>
    <ct-icon name="twitter"></ct-icon>
    <ct-icon name="up-arrow"></ct-icon>
    <ct-icon name="upper-right-arrow"></ct-icon>
    <ct-icon name="users"></ct-icon>
    <ct-icon name="watch"></ct-icon>
    <ct-icon name="web"></ct-icon>
    <ct-icon name="youtube"></ct-icon>
</div>

