

<ct-select
  theme="light"
  name="select-example"
  
  
  
  
  aria-label="Choose a fruit or vegetable"
>
      <ct-select-optgroup label="Fruits" >
          <ct-select-option label="Apple" value="apple" selected ></ct-select-option>
          <ct-select-option label="Banana" value="banana"  ></ct-select-option>
      </ct-select-optgroup>
      <ct-select-optgroup label="Vegetables" >
          <ct-select-option label="Carrot" value="carrot"  ></ct-select-option>
          <ct-select-option label="Potato" value="potato"  disabled></ct-select-option>
      </ct-select-optgroup>
</ct-select>

