

<ct-social-links
  theme="light"
  
>
    <ct-social-links-item
      icon="facebook"
      url="https://www.facebook.com"
      link-title="Facebook"
    ></ct-social-links-item>
    <ct-social-links-item
      icon="instagram"
      url="https://www.instagram.com"
      link-title="Instagram"
    ></ct-social-links-item>
    <ct-social-links-item
      icon="linkedin"
      url="https://www.linkedin.com"
      link-title="LinkedIn"
    ></ct-social-links-item>
    <ct-social-links-item
      icon="x"
      url="https://www.twitter.com"
      link-title="X"
    ></ct-social-links-item>
    <ct-social-links-item
      icon="youtube"
      url="https://www.youtube.com"
      link-title="YouTube"
    ></ct-social-links-item>
</ct-social-links>

