<!DOCTYPE html>
<html lang="en" dir="ltr" class="no-js">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>
    window.frctl = {
        env: 'static'
    };
    </script>
    <script>var cl = document.querySelector('html').classList; cl.remove('no-js'); cl.add('has-js');</script>
    <link rel="shortcut icon" href="../../themes/mandelbrot/favicon.ico" type="image/ico">
<style>
    :root {
        
        
        
    }
</style>

<link rel="stylesheet" href="../../themes/mandelbrot/css/default.css?cachebust=1.10.3" type="text/css">

<link rel="stylesheet" href="../../themes/mandelbrot/css/highlight.css?cachebust=1.10.3" type="text/css">


<title>Layout | Civic-Theme Design Infra</title>

</head>
<body>



<div class="Frame" id="frame">

    <div class="Frame-header">
        <div class="Header">
    <button class="Header-button Header-navToggle" data-action="toggle-sidebar">
        <div class="Header-navToggleIcon Header-navToggleIcon--open">
            <svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M19 6.4L17.6 5 12 10.6 6.4 5 5 6.4 10.6 12 5 17.6 6.4 19 12 13.4 17.6 19 19 17.6 13.4 12z"/>
</svg>

        </div>
        <div class="Header-navToggleIcon Header-navToggleIcon--closed">
            <svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/>
</svg>

        </div>
    </button>
    <a href="../../index.html" class="Header-title" data-pjax>Civic-Theme Design Infra</a>
</div>

    </div>

    <div class="Frame-body" data-role="body">

        <div class="Frame-panel Frame-panel--main" data-role="main">
            <div class="Frame-inner" id="pjax-container">
            

<div class="Pen" data-behaviour="pen" id="pen-a87e18137da602099fc3a52c004553e9">

    

    <div class="Pen-panel Pen-header">
    <h1 class="Pen-title">
        <a class="Pen-previewLink" href="../preview/layout.html" title="Preview">
            Layout
            <svg fill="#000000" height="22" viewBox="0 0 24 24" width="22" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M19 4H5c-1.11 0-2 .9-2 2v12c0 1.1.89 2 2 2h4v-2H5V8h14v10h-4v2h4c1.1 0 2-.9 2-2V6c0-1.1-.89-2-2-2zm-7 6l-4 4h3v6h2v-6h3l-4-4z"/>
</svg>

        </a>
    </h1>

    <span class="Pen-preview-size" data-role="preview-size"></span>

    

<div class="Status Status--tag">

<label class="Status-label" style="background-color: #29CC29; border-color: #29CC29;">Ready</label>

</div>


</div>


    <div class="Pen-panel Pen-preview Preview" data-behaviour="preview" id="preview-a87e18137da602099fc3a52c004553e9">
    <div class="Preview-wrapper" data-role="resizer">
        <div class="Preview-resizer">
             <iframe
                class="Preview-iframe"
                data-role="window"
                src="../preview/layout.html"
                 style=""
                marginwidth="0" marginheight="0" frameborder="0" vspace="0" hspace="0" scrolling="yes">
            </iframe>
        </div>
        <div class="Preview-handle" data-role="resize-handle"></div>
        <div class="Preview-overlay"></div>
    </div>
</div>


    <div class="Pen-handle Pen-handle--browser" data-role="resize-handle"></div>

    <div class="Pen-panel Pen-info" data-role="info">
    <div class="Browser" data-behaviour="browser" id="browser-a87e18137da602099fc3a52c004553e9">

    

<div class="Browser-controls">
    <ul class="Browser-tabs">
        
        
        <li class="Browser-tab Browser-tab--html is-active " data-role="tab">
            <a href="#browser-a87e18137da602099fc3a52c004553e9-panel-html">
                HTML
            </a>
        </li>
        
        
        
        <li class="Browser-tab Browser-tab--view" data-role="tab">
            <a href="#browser-a87e18137da602099fc3a52c004553e9-panel-view">
                View
            </a>
        </li>
        
        
        
        <li class="Browser-tab Browser-tab--context" data-role="tab">
            <a href="#browser-a87e18137da602099fc3a52c004553e9-panel-context">
                Context
            </a>
        </li>
        
        
        
        
        
        
        
        
        
        <li class="Browser-tab Browser-tab--info" data-role="tab">
            <a href="#browser-a87e18137da602099fc3a52c004553e9-panel-info">
                Info
            </a>
        </li>
        
        
        
        <li class="Browser-tab Browser-tab--notes" data-role="tab">
            <a href="#browser-a87e18137da602099fc3a52c004553e9-panel-notes">
                Notes
            </a>
        </li>
        
        
    </ul>
</div>


    
    
<div class="Browser-panel Browser-code is-active" data-role="tab-panel" id="browser-a87e18137da602099fc3a52c004553e9-panel-html">
    <code class="Code Code--lang-html hljs">
        
        <pre><span class="hljs-tag">&lt;<span class="hljs-name">html</span> <span class="hljs-attr">lang</span>=<span class="hljs-string">&quot;en&quot;</span>&gt;</span>

<span class="hljs-tag">&lt;<span class="hljs-name">head</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">meta</span> <span class="hljs-attr">charset</span>=<span class="hljs-string">&quot;UTF-8&quot;</span> /&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">title</span>&gt;</span>Component Preview<span class="hljs-tag">&lt;/<span class="hljs-name">title</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">link</span> <span class="hljs-attr">rel</span>=<span class="hljs-string">&quot;preconnect&quot;</span> <span class="hljs-attr">href</span>=<span class="hljs-string">&quot;https://fonts.googleapis.com&quot;</span> /&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">link</span> <span class="hljs-attr">rel</span>=<span class="hljs-string">&quot;preconnect&quot;</span> <span class="hljs-attr">href</span>=<span class="hljs-string">&quot;https://fonts.gstatic.com&quot;</span> <span class="hljs-attr">crossorigin</span> /&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">link</span> <span class="hljs-attr">href</span>=<span class="hljs-string">&quot;https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;600;700&amp;family=Public+Sans:wght@300;400;500;700&amp;display=swap&quot;</span> <span class="hljs-attr">rel</span>=<span class="hljs-string">&quot;stylesheet&quot;</span> /&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">link</span> <span class="hljs-attr">rel</span>=<span class="hljs-string">&quot;stylesheet&quot;</span> <span class="hljs-attr">href</span>=<span class="hljs-string">&quot;../../variables.css&quot;</span> /&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">style</span>&gt;</span><span class="css">
        <span class="hljs-selector-tag">body</span> {
            <span class="hljs-attribute">padding</span>: <span class="hljs-number">2rem</span>;
            <span class="hljs-attribute">background-color</span>: <span class="hljs-built_in">var</span>(--ct-color-surface-light, <span class="hljs-number">#fdfdfd</span>);
            <span class="hljs-attribute">font-family</span>: <span class="hljs-built_in">var</span>(--ct-typography-family-body, sans-serif);
        }
    </span><span class="hljs-tag">&lt;/<span class="hljs-name">style</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">head</span>&gt;</span>

<span class="hljs-tag">&lt;<span class="hljs-name">body</span>&gt;</span>

    <span class="hljs-tag">&lt;<span class="hljs-name">script</span> <span class="hljs-attr">type</span>=<span class="hljs-string">&quot;module&quot;</span> <span class="hljs-attr">src</span>=<span class="hljs-string">&quot;../../ct-core.js&quot;</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">script</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">body</span>&gt;</span>

<span class="hljs-tag">&lt;/<span class="hljs-name">html</span>&gt;</span></pre>
        
    </code>
</div>

    
    <div class="Browser-panel Browser-code" data-role="tab-panel" id="browser-a87e18137da602099fc3a52c004553e9-panel-view">
    <code class="Code Code--lang-handlebars hljs">
        <pre><span class="xml"><span class="hljs-tag">&lt;<span class="hljs-name">html</span> <span class="hljs-attr">lang</span>=<span class="hljs-string">&quot;en&quot;</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">head</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">meta</span> <span class="hljs-attr">charset</span>=<span class="hljs-string">&quot;UTF-8&quot;</span> /&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">title</span>&gt;</span>Component Preview<span class="hljs-tag">&lt;/<span class="hljs-name">title</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">link</span> <span class="hljs-attr">rel</span>=<span class="hljs-string">&quot;preconnect&quot;</span> <span class="hljs-attr">href</span>=<span class="hljs-string">&quot;https://fonts.googleapis.com&quot;</span> /&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">link</span> <span class="hljs-attr">rel</span>=<span class="hljs-string">&quot;preconnect&quot;</span> <span class="hljs-attr">href</span>=<span class="hljs-string">&quot;https://fonts.gstatic.com&quot;</span> <span class="hljs-attr">crossorigin</span> /&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">link</span>
      <span class="hljs-attr">href</span>=<span class="hljs-string">&quot;https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;600;700&amp;family=Public+Sans:wght@300;400;500;700&amp;display=swap&quot;</span>
      <span class="hljs-attr">rel</span>=<span class="hljs-string">&quot;stylesheet&quot;</span>
    /&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">link</span> <span class="hljs-attr">rel</span>=<span class="hljs-string">&quot;stylesheet&quot;</span> <span class="hljs-attr">href</span>=<span class="hljs-string">&quot;../../variables.css&quot;</span> /&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">style</span>&gt;</span><span class="css">
      <span class="hljs-selector-tag">body</span> {
        <span class="hljs-attribute">padding</span>: <span class="hljs-number">2rem</span>;
        <span class="hljs-attribute">background-color</span>: <span class="hljs-built_in">var</span>(--ct-color-surface-light, <span class="hljs-number">#fdfdfd</span>);
        <span class="hljs-attribute">font-family</span>: <span class="hljs-built_in">var</span>(--ct-typography-family-body, sans-serif);
      }
    </span><span class="hljs-tag">&lt;/<span class="hljs-name">style</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">head</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">body</span>&gt;</span>

    </span><span class="hljs-template-variable">{{{<span class="hljs-name"><span class="hljs-builtin-name">yield</span></span>}}}</span><span class="xml">

    <span class="hljs-tag">&lt;<span class="hljs-name">script</span> <span class="hljs-attr">type</span>=<span class="hljs-string">&quot;module&quot;</span> <span class="hljs-attr">src</span>=<span class="hljs-string">&quot;../../ct-core.js&quot;</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">script</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">body</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">html</span>&gt;</span></span></pre>
    </code>
</div>

    
    <div class="Browser-panel Browser-code" data-role="tab-panel" id="browser-a87e18137da602099fc3a52c004553e9-panel-context">
    <code class="Code Code--lang-json hljs">
        
            
            <pre><span class="hljs-comment">/* No context defined. */</span></pre>
            
        
    </code>
</div>

    
    




    
    <div class="Browser-panel" data-role="tab-panel" id="browser-a87e18137da602099fc3a52c004553e9-panel-info">
    <ul class="Meta">
        <li class="Meta-item">
            <strong class="Meta-key">Handle:</strong>
            <span class="Meta-value">@layout</span>
        </li>
        
        
        
        
        
        
        
        <li class="Meta-item">
            <strong class="Meta-key">Preview:</strong>
            <span class="Meta-value">
                <ul>
                    <li><a data-no-pjax href="../preview/layout.html"><span>With layout</span> <svg fill="#000000" height="22" viewBox="0 0 24 24" width="22" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M19 4H5c-1.11 0-2 .9-2 2v12c0 1.1.89 2 2 2h4v-2H5V8h14v10h-4v2h4c1.1 0 2-.9 2-2V6c0-1.1-.89-2-2-2zm-7 6l-4 4h3v6h2v-6h3l-4-4z"/>
</svg>
</a></li>
                    <li><a data-no-pjax href="../render/layout.html"><span>Component only</span> <svg fill="#000000" height="22" viewBox="0 0 24 24" width="22" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M19 4H5c-1.11 0-2 .9-2 2v12c0 1.1.89 2 2 2h4v-2H5V8h14v10h-4v2h4c1.1 0 2-.9 2-2V6c0-1.1-.89-2-2-2zm-7 6l-4 4h3v6h2v-6h3l-4-4z"/>
</svg>
</a></li>
                </ul>
            </span>
        </li>
        <li class="Meta-item">
            <strong class="Meta-key">Filesystem Path:</strong>
            <span class="Meta-value">packages/core/src/components/_layout.hbs</span>
        </li>
        
        
    </ul>
</div>

    
    <div class="Browser-panel Browser-notes" data-role="tab-panel" id="browser-a87e18137da602099fc3a52c004553e9-panel-notes">
    <div class="Prose Prose--condensed">
        
        <p class="Browser-isEmptyNote">No notes defined.</p>
        
    </div>
</div>

    

</div>

</div>


    

</div>


            </div>
        </div>

        <div class="Frame-panel Frame-panel--sidebar" data-role="sidebar">
            

    
    


<nav class="Navigation" data-behaviour="navigation">
    <div class="Navigation-panel Navigation-panel--main" data-role="main-panel">
    
        <div class="Navigation-group Navigation-search">
    <form action="" class="Search" data-behaviour="search">
        <label class="Search-label" for="search-input">Search</label>
        <input class="Search-input" id="search-input" type="search" placeholder="Search…" data-role="input" autocomplete="off">
        <button type="button" data-behaviour="clear-search" class="Search-clearButton" aria-label="Clear search" hidden>
            <svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M19 6.4L17.6 5 12 10.6 6.4 5 5 6.4 10.6 12 5 17.6 6.4 19 12 13.4 17.6 19 19 17.6 13.4 12z"/>
</svg>

        </button>
    </form>
</div>

    
        

    
    
    <div class="Navigation-group">
        
<div class="Tree" data-behaviour="tree" id="tree-components">
    <div class="Tree-header">
        <h3 class="Tree-title">components</h3>

        <button type="button" data-behaviour="collapse-tree" class="Tree-collapse" title="Collapse tree" aria-label="Collapse tree" hidden>
            <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="m9 11c-.6 0-1 .4-1 1s.4 1 1 1h6c.6 0 1-.4 1-1s-.4-1-1-1z"/><path d="m19 21h-14c-1.1 0-2-.9-2-2v-14c0-1.1.9-2 2-2h14c1.1 0 2 .9 2 2v14c0 1.1-.9 2-2 2zm-14-16v14h14v-14z"/></svg>

        </button>
    </div>
    <ul class="Tree-items Tree-depth-1">
        
    
        
        
            
            
            <li class="Tree-item Tree-collection Tree-depth-2" data-behaviour="collection" id="tree-components-collection-layout">
                <button class="Tree-collectionLabel" data-role="toggle" aria-expanded="true" aria-controls="tree-components-collection-layout-items">
                    Layout
                </button>
                <ul class="Tree-collectionItems" data-role="items" id="tree-components-collection-layout-items">
                
                
                
                
    
        
        
            
            
            <li class="Tree-item Tree-collection Tree-depth-3" data-behaviour="collection" id="tree-components-collection-region">
                <button class="Tree-collectionLabel" data-role="toggle" aria-expanded="true" aria-controls="tree-components-collection-region-items">
                    Region
                </button>
                <ul class="Tree-collectionItems" data-role="items" id="tree-components-collection-region-items">
                
                
                
                
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a
                class="Tree-entityLink"
                href="./region--default.html"
                data-role="tree-link"
                
                data-pjax
                data-test="region--default"
                data-handle="region--default"
            >
                <span>Default</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a
                class="Tree-entityLink"
                href="./region--simple.html"
                data-role="tree-link"
                
                data-pjax
                data-test="region--simple"
                data-handle="region--simple"
            >
                <span>Simple</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    

                </ul>
            </li>
            
        
    

                </ul>
            </li>
            
        
    
        
        
            
            
            <li class="Tree-item Tree-collection Tree-depth-2" data-behaviour="collection" id="tree-components-collection-ui">
                <button class="Tree-collectionLabel" data-role="toggle" aria-expanded="true" aria-controls="tree-components-collection-ui-items">
                    Ui
                </button>
                <ul class="Tree-collectionItems" data-role="items" id="tree-components-collection-ui-items">
                
                
                
                
    
        
        
            
            
            <li class="Tree-item Tree-collection Tree-depth-3" data-behaviour="collection" id="tree-components-collection-accordion">
                <button class="Tree-collectionLabel" data-role="toggle" aria-expanded="true" aria-controls="tree-components-collection-accordion-items">
                    Accordion
                </button>
                <ul class="Tree-collectionItems" data-role="items" id="tree-components-collection-accordion-items">
                
                
                
                
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a
                class="Tree-entityLink"
                href="./accordion--default.html"
                data-role="tree-link"
                
                data-pjax
                data-test="accordion--default"
                data-handle="accordion--default"
            >
                <span>Default</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a
                class="Tree-entityLink"
                href="./accordion--expand-all.html"
                data-role="tree-link"
                
                data-pjax
                data-test="accordion--expand-all"
                data-handle="accordion--expand-all"
            >
                <span>Expand All</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a
                class="Tree-entityLink"
                href="./accordion--with-background.html"
                data-role="tree-link"
                
                data-pjax
                data-test="accordion--with-background"
                data-handle="accordion--with-background"
            >
                <span>With Background</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a
                class="Tree-entityLink"
                href="./accordion--single-open.html"
                data-role="tree-link"
                
                data-pjax
                data-test="accordion--single-open"
                data-handle="accordion--single-open"
            >
                <span>Single Open</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a
                class="Tree-entityLink"
                href="./accordion--dark.html"
                data-role="tree-link"
                
                data-pjax
                data-test="accordion--dark"
                data-handle="accordion--dark"
            >
                <span>Dark</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    

                </ul>
            </li>
            
        
    
        
        
            
            
            <li class="Tree-item Tree-collection Tree-depth-3" data-behaviour="collection" id="tree-components-collection-button">
                <button class="Tree-collectionLabel" data-role="toggle" aria-expanded="true" aria-controls="tree-components-collection-button-items">
                    Button
                </button>
                <ul class="Tree-collectionItems" data-role="items" id="tree-components-collection-button-items">
                
                
                
                
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a
                class="Tree-entityLink"
                href="./button--default.html"
                data-role="tree-link"
                
                data-pjax
                data-test="button--default"
                data-handle="button--default"
            >
                <span>Default</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a
                class="Tree-entityLink"
                href="./button--secondary.html"
                data-role="tree-link"
                
                data-pjax
                data-test="button--secondary"
                data-handle="button--secondary"
            >
                <span>Secondary</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a
                class="Tree-entityLink"
                href="./button--tertiary.html"
                data-role="tree-link"
                
                data-pjax
                data-test="button--tertiary"
                data-handle="button--tertiary"
            >
                <span>Tertiary</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a
                class="Tree-entityLink"
                href="./button--link.html"
                data-role="tree-link"
                
                data-pjax
                data-test="button--link"
                data-handle="button--link"
            >
                <span>Link</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    

                </ul>
            </li>
            
        
    
        
        
            
            
            <li class="Tree-item Tree-collection Tree-depth-3" data-behaviour="collection" id="tree-components-collection-link">
                <button class="Tree-collectionLabel" data-role="toggle" aria-expanded="true" aria-controls="tree-components-collection-link-items">
                    Link
                </button>
                <ul class="Tree-collectionItems" data-role="items" id="tree-components-collection-link-items">
                
                
                
                
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a
                class="Tree-entityLink"
                href="./link--default.html"
                data-role="tree-link"
                
                data-pjax
                data-test="link--default"
                data-handle="link--default"
            >
                <span>Default</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a
                class="Tree-entityLink"
                href="./link--dark.html"
                data-role="tree-link"
                
                data-pjax
                data-test="link--dark"
                data-handle="link--dark"
            >
                <span>Dark</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a
                class="Tree-entityLink"
                href="./link--active.html"
                data-role="tree-link"
                
                data-pjax
                data-test="link--active"
                data-handle="link--active"
            >
                <span>Active</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a
                class="Tree-entityLink"
                href="./link--disabled.html"
                data-role="tree-link"
                
                data-pjax
                data-test="link--disabled"
                data-handle="link--disabled"
            >
                <span>Disabled</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a
                class="Tree-entityLink"
                href="./link--external.html"
                data-role="tree-link"
                
                data-pjax
                data-test="link--external"
                data-handle="link--external"
            >
                <span>External</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a
                class="Tree-entityLink"
                href="./link--icon-before.html"
                data-role="tree-link"
                
                data-pjax
                data-test="link--icon-before"
                data-handle="link--icon-before"
            >
                <span>Icon Before</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a
                class="Tree-entityLink"
                href="./link--only-icon.html"
                data-role="tree-link"
                
                data-pjax
                data-test="link--only-icon"
                data-handle="link--only-icon"
            >
                <span>Only Icon</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    

                </ul>
            </li>
            
        
    
        
        
            
            
            <li class="Tree-item Tree-collection Tree-depth-3" data-behaviour="collection" id="tree-components-collection-tag">
                <button class="Tree-collectionLabel" data-role="toggle" aria-expanded="true" aria-controls="tree-components-collection-tag-items">
                    Tag
                </button>
                <ul class="Tree-collectionItems" data-role="items" id="tree-components-collection-tag-items">
                
                
                
                
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a
                class="Tree-entityLink"
                href="./tag--default.html"
                data-role="tree-link"
                
                data-pjax
                data-test="tag--default"
                data-handle="tag--default"
            >
                <span>Default</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a
                class="Tree-entityLink"
                href="./tag--secondary.html"
                data-role="tree-link"
                
                data-pjax
                data-test="tag--secondary"
                data-handle="tag--secondary"
            >
                <span>Secondary</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a
                class="Tree-entityLink"
                href="./tag--tertiary.html"
                data-role="tree-link"
                
                data-pjax
                data-test="tag--tertiary"
                data-handle="tag--tertiary"
            >
                <span>Tertiary</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a
                class="Tree-entityLink"
                href="./tag--dark.html"
                data-role="tree-link"
                
                data-pjax
                data-test="tag--dark"
                data-handle="tag--dark"
            >
                <span>Dark</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a
                class="Tree-entityLink"
                href="./tag--icon.html"
                data-role="tree-link"
                
                data-pjax
                data-test="tag--icon"
                data-handle="tag--icon"
            >
                <span>Icon</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a
                class="Tree-entityLink"
                href="./tag--link.html"
                data-role="tree-link"
                
                data-pjax
                data-test="tag--link"
                data-handle="tag--link"
            >
                <span>Link</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a
                class="Tree-entityLink"
                href="./tag--external.html"
                data-role="tree-link"
                
                data-pjax
                data-test="tag--external"
                data-handle="tag--external"
            >
                <span>External</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    

                </ul>
            </li>
            
        
    

                </ul>
            </li>
            
        
    

    </ul>
</div>

    </div>
    


    
        

    
        

    
        
<div class="Navigation-group">
    <div class="Tree">
        <div class="Tree-header">
            <h3 class="Tree-title">
                Information
            </h3>
        </div>
        <dl class="Tree-aside">
            
                <div>
                    <dt class="Tree-asideTerm">Built on:</dt>
                    <dd class="Tree-asideDescription">
                        
                            <time datetime="2026-07-20T15:02:04.308Z">
                                7/20/2026
                            </time>
                        
                    </dd>
                </div>
            
        </dl>
    </div>
</div>


    
    </div>

    
</nav>

        </div>
    </div>
</div>




<script src="../../themes/mandelbrot/js/mandelbrot.js?cachebust=1.10.3"></script>



</body>
</html>
