

<div style="max-width: 24rem;">
  <ct-service-card
    theme="light"
    title="Services category title across one or two lines"
    
  >
    <div slot="content-top"><p style="margin: 0;">Top content area</p></div>
    <ct-item-list slot="links" direction="vertical">
      <ct-item-list-item>
        <ct-link
          theme="light"
          label="Link text"
          url="https://example.com"
          
          
        ></ct-link>
      </ct-item-list-item>
      <ct-item-list-item>
        <ct-link
          theme="light"
          label="Link title 2"
          url="https://example.com"
          
          
        ></ct-link>
      </ct-item-list-item>
    </ct-item-list>
    <div slot="content-bottom"><p style="margin: 0;">Bottom content area</p></div>
  </ct-service-card>
</div>

