

<ct-service-card
  theme="light"
  title="Services category title across one or two lines"
  
>
  
  <ct-item-list slot="links" direction="vertical">
    <ct-item-list-item>
      <ct-link
        theme="light"
        label="Link text"
        url="https://example.com"
        
        
      ></ct-link>
    </ct-item-list-item>
    <ct-item-list-item>
      <ct-link
        theme="light"
        label="Link title 2"
        url="https://example.com"
        
        
      ></ct-link>
    </ct-item-list-item>
  </ct-item-list>
  
</ct-service-card>

