

<ct-attachment
  theme="dark"
  title="Attachments"
  content="Lorem ipsum dolor sit amet, consectetur adipiscing elit."
  with-background
  vertical-spacing="none"
>
    <ct-attachment-file
      name="Document.doc"
      ext="doc"
      url="https://example.com/document.doc"
      size="42.88 KB"
      
      changed="2022-01-01"
      icon="word-file"
    ></ct-attachment-file>
    <ct-attachment-file
      name="Document.pdf"
      ext="pdf"
      url="https://example.com/document.pdf"
      size="42.82 KB"
      
      changed="2022-01-01"
      icon="pdf-file"
    ></ct-attachment-file>
    <ct-attachment-file
      name="Document"
      
      url="https://example.com/document"
      
      
      changed="2022-01-01"
      icon="download-file"
    ></ct-attachment-file>
</ct-attachment>

